.content-medicina-prepagada {
	margin-top: 150px;
	margin-bottom: 70px;
}

.menu-med-prep {
	margin-bottom: 30px;
}

.wrapper-med-prep ul li {
	margin-top: 15px;
}
.wrapper-botones {
	margin-top: 30px;
}
a.boton-med-prep {
    width: 110px;
    background-color: #0069aa;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    border-radius: 30px;
    line-height: 16px;
    margin: 1px 10px;
    font-size: 15px;
}
.plan-title-menu {
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -2px;
}
.plan-title-menu::before {
    content: 'plan ';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 500;
    background-color: yellow;
    border-radius: 17px;
}