a:hover, a:focus{
    text-decoration: none;
}
.content-medicina-prepagada {
	margin-top: 150px;
	margin-bottom: 70px;
}
.menu-med-prep {
	margin-bottom: 30px;
}
.wrapper-med-prep ul li {
	margin-top: 15px;
}
.wrapper-botones {
	margin-top: 30px;
}
a.boton-med-prep {
    width: 110px;
    background-color: #0069aa;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    border-radius: 30px;
    line-height: 16px;
    margin: 1px 10px;
    font-size: 15px;
}
.boton-plan {
    margin: 0 30px;
    text-shadow: 1px 1px #777777;
}
span.plan, .titulo-plan-big{
    font-size: 22px;
    color: #fff;
    text-shadow: 2px 2px #000;
}
.titulo-plan-big {
    font-size: 60px;
    letter-spacing: -5px;
}

.plan-title-menu, .titulo-plan, .aps-title-menu {
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -2px;
    position: relative;
    color: #4d4d4d;
}
span.text-uppercase.titulo-plan {
    font-size: 60px;
    padding-left: 10px;
}
.plan-title-menu::before, .titulo-plan::before {
    content: '';
    width: 40px;
    height: 40px;
    background: #ccc;
    position: absolute;
    border-radius: 50%;
    -webkit-transform: rotate(25deg) skewX(-26deg);
    transform: rotate(25deg) skewX(-26deg);
    left: -42px;
    top: 0;
    left: -47px;
    z-index: -1;
}
.titulo-plan:before {
    top: -13px;
    left: -120px;
    width: 105px;
    height: 105px;
    border: 5px solid #fff;
    box-sizing: content-box;
}
.gold::before{
    background-color: #f6b63c;
}
.gold-plus::before{
    background: #ffed3f;
    background: -moz-linear-gradient(45deg,  #ffed3f 0%, #fbb040 52%, #ffed3f 100%);
    background: -webkit-linear-gradient(45deg,  #ffed3f 0%,#fbb040 52%,#ffed3f 100%);
    background: linear-gradient(45deg,  #ffed3f 0%,#fbb040 52%,#ffed3f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffed3f', endColorstr='#ffed3f',GradientType=1 );
}
.platinum::before{
    background: #868688;
}
.ultra::before{
    background: #a1b421;
}
.silver::before{
    background: #ccc8cc;
    background: -moz-linear-gradient(45deg,  #ccc8cc 0%, #8f898f 34%, #8f898f 72%, #ccc8cc 100%);
    background: -webkit-linear-gradient(45deg,  #ccc8cc 0%,#8f898f 34%,#8f898f 72%,#ccc8cc 100%);
    background: linear-gradient(45deg,  #ccc8cc 0%,#8f898f 34%,#8f898f 72%,#ccc8cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc8cc', endColorstr='#ccc8cc',GradientType=1 );
}
.title-bar {
    padding-left: 120px;
    margin-bottom: 60px;
}
.title-bar:before {
    content: ' ';
    background: #0163a0;
    width: 170px;
    height: 95px;
    display: inline-block;
    position: absolute;
    z-index: -99;
    top: 12px;
    left: 0;
}
.single {
    background: transparent url(../images/fondo.png) no-repeat;
    background-size: 100% auto;
    /*background-position: 50% 0;*/
}

/*APS*/
.title-big-aps {
    padding-left: 45px;
    background-color: #fff;
    border-left: #0069aa solid 40px;
}
.aps-text-big {
    margin-top: 65px;
}
.textocasco{
    color:#78655a;
}
.textobasico{
    color: #e41b25;
}
.textoclasico {
    color: #2fb49e;
}
.textotopplan {
    color: #235ea2;
}
.textomedicina-empresarial{
    color: #e95e32;
}
.fondocasco::before{
    background-color:#78655a;
}
.fondobasico::before{
    background-color: #e41b25;
}
.fondoclasico::before{
    background-color: #2fb49e;
}
.fondotopplan::before{
    background-color: #235ea2;
}
.fondomedicina-empresarial::before{
    background-color: #e95e32;
}
.titulo-aps::before{
    z-index: 1;
}
.titulo-aps-big{
    position: relative;
    z-index: 2;
}
.boton-aps{
    margin:0 5px;
    text-shadow: 1px 1px #777777;
}
.boton-aps::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #a2aaae;
    display: inline-block;
    margin-left: 27px;
    margin-bottom: 3px;
    -webkit-box-shadow: 1px 1px 1px 1px #4A4A4A;
    box-shadow: 1px 1px 1px 1px #4A4A4A;
}
.boton-aps:last-child::after{
    content: none;
}
.fondomedicina-empresarial{
    display: block;
    position: absolute;
    top: 60px;
    left: 130px;
}
.texto-azul{
    color: #0163a0;
    margin-bottom: 15px;
}
.texto-negro{
    color: #000;
}
.bloque-azul {
    background-color: #0163a0;
    color: #fff;
    padding: 21px;
    margin: 30px 0;
}
.wrapper-aps{
    margin-top: 50px;
    font-size: 16px;
}